<app-nav-bar></app-nav-bar>
<div class="container main-container">

<h4>Perfil de Usuario</h4>
<hr>
<form autocomplete="off">

    
    <div class="form-group row">
        <label class="col-2 col-form-label">Nombre:</label>
        <div class="col-8">

            <input class="form-control"
                type="text"
                value="Jose"
                readonly>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Apellidos:</label>
        <div class="col-8">

            <input class="form-control"
                type="text"
                value="Perez"
                readonly>
        </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Cédula/Carnet:</label>
      <div class="col-8">

        <input class="form-control"
               type="number"
               value="123456789"
               readonly>
      </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Correo:</label>
        <div class="col-8">

            <input class="form-control"
                type="email"
                value="abc@gmail.com"
                readonly>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Teléfono:</label>
        <div class="col-8">

            <input class="form-control"
                type="number"
                value="88888888"
                readonly>
        </div>
    </div>
  



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-4">
      <button type="button" class="btn btn-outline-primary btn-block" [routerLink] = "['/homeOperador']">
        Regresar
      </button>
    </div>
  </div>


</form>
</div>
