<app-nav-bar></app-nav-bar>
<div class="container main-container">

<h4 class="text-center">Reservar Laboratorio</h4>
<hr>
<form autocomplete="off"  [formGroup]="formReserva" (ngSubmit)="guardar()">

  

    <div class="form-group row">
      <label class="col-2 col-form-label">Cédula del solicitante</label>
      <div class="col-8">

        <input class="form-control"
               type="number"
               placeholder="Cédula"
               formControlName="_idUsuarioReserva"
               [class.is-invalid]="idUsuarioNoValido">
               <small *ngIf="idUsuarioNoValido" class="text-danger">
                Debe ingresar una cédula válida
              </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Fecha a reservar</label>
      <div class="col-8">

        <input class="form-control"
               type="date"
               formControlName="_fechaReserva">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Hora de inicio de la resevación</label>
      <div class="col-8">

        <input class="form-control"
               type="time"
               formControlName="_horaInicio"
               value="00:00:00"
               step="1">
      </div>
    </div>


    <div class="form-group row">
      <label class="col-2 col-form-label">Hora de finalización de la resevación</label>
      <div class="col-8">

        <input class="form-control"
               type="time"
               formControlName="_horaFinal"
               value="00:00:00"
               step="1">
      </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Número de laboratorio</label>
        <div class="col-8">

            <input class="form-control"
                type="number"
                placeholder="Laboratorio"
                formControlName="_idLaboratorio">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Motivo de la reservación</label>
        <div class="col-8">

            <input class="form-control"
                type="text"
                placeholder="Motivo"
                formControlName="_motivo">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Código del curso</label>
        <div class="col-8">

            <input class="form-control"
                type="number"
                placeholder="Código del curso"
                formControlName="_idCurso">
        </div>
    </div>
  



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-4">
      <button type="submit" class="colorOutlineButtons btn btn-outline-primary btn-block" >
        Confirmar Reserva
      </button>
    </div>
    <div class="input-group col-md-4">
      <button type="button" class="btn btn-outline-danger btn-block">
        Cancelar
      </button>
    </div>
  </div>


</form>
</div>

<hr>

<pre>
  Estado: {{formReserva.valid}}
  <br>
  Status: {{formReserva.status}}
</pre>

<pre>
    {{formReserva.value | json}}
</pre>