<link rel="stylesheet" href="nav-bar.component.css">

<nav class="colorNavbar navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" >CELabs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink] = "['homeOperador']">Página Principal <span class="sr-only glyphicon glyphicon-home">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink] = "['calendario']">Calendario <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Perfil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink] = "['perfilUsuario']" >Revisar mi Perfil</a>
          <a class="dropdown-item" [routerLink] = "['configurarCuenta']">Configurar Cuenta</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Funciones Operador
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink] = "['reservaLaboratorio']" >Revervar Laboratorio</a>
          <a class="dropdown-item" [routerLink] = "['reporteAveria']" >Reportar Avería</a>
          <a class="dropdown-item" [routerLink] = "['reporteInventario']">Reportar Inventario</a>
          <a class="dropdown-item" [routerLink] = "['registrarTiempo']">Registrar Tiempo Trabajado</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Funciones Administrador
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink] = "['visualizarReportesAverias']" >Visualizar reportes de averías</a>
          <a class="dropdown-item" [routerLink] = "['visualizarReportesInventarios']" >Visualizar reportes de inventario</a>
          <a class="dropdown-item" [routerLink] = "['validarHoras']">Validar horas trabajadas</a>
          <a class="dropdown-item" [routerLink] = "['crearCuentaOperador']">Crear cuenta operador</a>
          <a class="dropdown-item" [routerLink] = "['crearCuentaAdmin']">Crear cuenta de administrador</a>
          <a class="dropdown-item" [routerLink] = "['aprobarCuentas']">Aprobar cuentas pendientes</a>
          <a class="dropdown-item" [routerLink] = "['configuracionesIniciales']">Configuraciones iniciales</a>
          <a class="dropdown-item" [routerLink] = "['formSatisfaccion']">Crear formulario de satisfacción</a>
          <a class="dropdown-item" [routerLink] = "['dashboard']">Dashboard</a>
        </div>
      </li>
    </ul>
    <form class="form-inline">
        <button class="btn btn-outline-danger" type="button">Cerrar Sesión</button>
    </form>
  </div>
</nav>
