<app-nav-bar></app-nav-bar>
<div class="container main-container">
<h4 class="text-center">Detalles</h4>
<hr>
<form autocomplete="off">

    
    <div class="form-group row justify-content-center">
        <label class="col-1 col-form-label">Laboratorio</label>
        <div class="col-4">

            <input class="form-control" 
                type="text"
                value="3123"
                readonly>
        </div>
    </div>

    <div class="form-group row justify-content-center">
        <label class="col-1 col-form-label">Activo</label>
        <div class="col-4">

            <input class="form-control"
                type="text"
                value="3231"
                readonly>
        </div>
    </div>

    <div class="form-group row justify-content-center">
      <label class="col-1 col-form-label">Fecha</label>
      <div class="col-4">

        <input class="form-control"
               type="datetime" 
               value="12312313123"
               readonly>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label class="col-1 col-form-label">Estado</label>
      <div class="col-4">

        <input class="form-control"
               type="text"
               value="12312313123"
               placeholder="Inserte el estado actual">
      </div>
    </div>
  
  <div class="form-group row justify-content-center">
    <label class="col-1 col-form-label">&nbsp;</label>
    <div class="input-group col-md-4">
      <button type="button" class="colorOutlineButtons btn btn-outline-primary btn-block" [routerLink] = "['/reportesGeneradosAverias']">
        Regresar
      </button>
    </div>
  </div>


</form>

</div>
