<app-nav-bar></app-nav-bar>
<div class="container main-container">

<h4 class="text-center">Generar  Reporte de Inventario</h4>
<hr>
<form autocomplete="off" [formGroup]="formInventario" (ngSubmit)="guardar()">


    <div class="form-group row">
        <label class="col-4 col-form-label">Reportes generados </label>
        <div class="input-group col-md-4">
            <button type="button" class="colorButtons btn btn-light"  [routerLink] = "['/reportesGeneradosInventario']">
                Visualizar
            </button>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">Número de laboratorio</label>
        <div class="col-8">

            <input class="form-control"
                type="number"
                placeholder="Número de laboratorio"
                formControlName="_idLaboratorio"
               [class.is-invalid]="idLaboratorioNoValido">
               <small *ngIf="idLaboratorioNoValido" class="text-danger">
                Debe ingresar una número de  laboratorio válido
              </small>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-4 col-form-label">Cantidad de computadoras completas</label>
        <div class="col-8">

            <input class="form-control"
                type="number"
                placeholder="Computadoras completas"
                 formControlName="_computadorasC">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">Cantidad de computadoras incompletas</label>
        <div class="col-8">

            <input class="form-control"
                type="number"
                placeholder="Computadoras incompletas"
                 formControlName="_computadorasI">
        </div>
    </div>


    <div class="form-group row">
        <label class="col-4 col-form-label">Cantidad de proyectores</label>
        <div class="col-8">

            <input class="form-control"
                type="number"
                placeholder="Proyectores"
                 formControlName="_proyectores">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">Cantidad de sillas</label>
        <div class="col-8">

            <input class="form-control"
                type="number"
                placeholder="Proyectores"
                 formControlName="_sillas">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">Cantidad de extintores</label>
        <div class="col-8">

            <input class="form-control"
                type="number"
                placeholder="Extintores"
                 formControlName="_extintores">
        </div>
    </div>



  <div class="form-group row mt-5">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-4">
      <button type="submit" class="colorOutlineButtons btn btn-outline-primary btn-block">
        Enviar  reporte
      </button>
    </div>
    <div class="input-group col-md-4">
      <button type="button" class="btn btn-outline-danger btn-block" [routerLink] = "['/homeAdmin']">
        Cancelar
      </button>
    </div>
  </div>


</form>
</div>



