<h3 class="text-center">Validar horas de operadores</h3>

<hr>

<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-operador-list" data-toggle="list" href="#list-operador" role="tab" aria-controls="operador">ID Operador: 121</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-operador" role="tabpanel" aria-labelledby="list-operador-list">
        <p>Datos del operador: asfjnasasfasfasfasfasfasfasfasfas</p>
        <div class = "row">
        <div  class="col-md-4">
            <button type="button" class="colorOutlineButtons btn btn-outline">Aprobar horas</button>
        </div>
        <div  class="col-md-4">
            <button type="button" class="btn btn-outline-danger">Rechazar horas</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

