.colorListButtons:active,  .colorListButtons:focus{
    background: #1d2357;
    border-color: #1d2357;
    color: #fff;
}
.colorOutlineButtons {
    color: #1d2357;
    border-color: #1d2357;
    
}

.colorOutlineButtons:hover{
    color: #fff;
    border-color: #1d2357;
    background: #1d2357
    
}

.colorPoster{
    color: #fff;
    background: #3b5bc2
}