<app-nav-bar></app-nav-bar>
<div class="container main-container">

<h3 class="text-center">Aprobar cuentas pendientes</h3>

<hr>

<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-docente-list" data-toggle="list" href="#list-docente" role="tab" aria-controls="docente">Docente</a>
      <a class="list-group-item list-group-item-action" id="list-administrativo-list" data-toggle="list" href="#list-administrativo" role="tab" aria-controls="administrativo">Administrativo</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-docente" role="tabpanel" aria-labelledby="list-docente-list">
        <p>Datos del docente: asfjnasasfasfasfasfasfasfasfasfas</p>
        <div class = "row">
        <div  class="col-md-4">
            <button type="button" class="colorOutlineButtons btn btn-outline">Aprobar cuenta</button>
        </div>
        <div  class="col-md-4">
            <button type="button" class="btn btn-outline-danger">Rechazar cuenta</button>
        </div>
        </div>
      </div>
      <div class="tab-pane fade" id="list-administrativo" role="tabpanel" aria-labelledby="list-administrativo-list">
        <p>Datos del administrativo: asfjnasasfasfasfasfasfasfasfasfas</p>
        <div class = "row">
        <div  class="col-md-4">
            <button type="button" class="colorOutlineButtons btn btn-outline">Aprobar cuenta</button>
        </div>
        <div  class="col-md-4">
            <button type="button" class="btn btn-outline-danger">Rechazar cuenta</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
