<app-nav-bar></app-nav-bar>
<div class="container main-container">


<h1>Reportes de inventario</h1>

<hr>

<div class="card-columns">
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">12/12/12</div>
            <div class="card-body">
                <h5 class="card-title">Reporte 1</h5>
                <p class="card-text"> Laboratorio 7</p>
                <button type="button" class="btn btn-dark">Detalles</button>
            </div>
    </div>
</div>

<button type="button" class="btn btn-success"  [routerLink] = "['/homeAdmin']">Regresar</button>

</div>