<h1>Reportes de inventario</h1>

<hr>

<div class="card-columns">
    <div class="colorCard card mb-3" style="max-width: 18rem;">
        <div class="card-header">12/12/12</div>
            <div class="card-body">
                <h5 class="card-title">Reporte 1</h5>
                <p class="card-text"> Laboratorio 7</p>
                <button type="button" class="colorButtons btn">Detalles</button>
            </div>
    </div>
</div>

<button type="button" class="colorOutlineButtons btn btn-outline"  [routerLink] = "['/reporteInventario']">Regresar</button>
