<app-nav-bar></app-nav-bar>
<div class="container main-container">

<h4 class="text-center">Registrar tiempo trabajado</h4>
<hr>
<form autocomplete="off"  [formGroup]="formTiempo" (ngSubmit)="guardar()">


    <div class="form-group row">
      <label class="col-2 col-form-label">Hora de inicio</label>
      <div class="col-8">

        <input class="form-control"
               type="time"
               formControlName="_horaInicio"
               [class.is-invalid]="horaInicioNoValida"
               value="00:00:00"
               step="1">
               <small *ngIf="horaInicioNoValida" class="text-danger">
                Debe ingresar una hora de inicio válida
              </small>
      </div>
    </div>


    <div class="form-group row">
      <label class="col-2 col-form-label">Hora de finalización</label>
      <div class="col-8">

        <input class="form-control"
               type="time"
               formControlName="_horaFinal"
               value="00:00:00"
               step="1">
      </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Actividades realizadas</label>
        <div class="col-8">

            <input class="form-control"
                type="text"
                placeholder="Actividades"
                formControlName="_actividades">
        </div>
    </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-4">
      <button type="submit" class="colorOutlineButtons btn btn-outline-primary btn-block">
        Enviar Reporte
      </button>
    </div>
    <div class="input-group col-md-4">
      <button type="button" class="btn btn-outline-danger btn-block" [routerLink] = "['/homeAdmin']">
        Cancelar
      </button>
    </div>
  </div>


</form>
</div>


