<div class ="container">

    <div class = "row mb-5 justify-content-center">
        <h1> Información general </h1>
    </div>

    <div class = "row"> 
        <div class = "col-6"> 
            <h4> Laboratorio 1 : Aula 4</h4>
            <small> Disponible </small>
        </div>
        <div class = "col-6"> 
            <h4> Laboratorio 2 : Aula 5</h4>
            <small> Disponible </small>
        </div>
    </div>

    <div class = "row"> 
        <div class = "col-6"> 
            <h4> Laboratorio 3 : Aula 7</h4>
            <small> Disponible </small>
        </div>
        <div class = "col-6"> 
            <h4> Laboratorio 4 : Aula 9</h4>
            <small>  No Disponible </small>
        </div>
    </div>

</div>

<footer class="container row mt-5">
    <div class="col-4">
        <h5> Información del administrador:</h5>
    </div>
    <div class="col-4">
        <h5> Luis Diego Noguera</h5>
    </div>
    <div class="col-4">
        <h5> ldnoguera@itcr.ac.cr</h5>
    </div>
</footer>